# version format
version: 0.0.{build}

# build platform, i.e. x86, x64, Any CPU. This setting is optional.
platform: Any CPU

# to add several platforms to build matrix:
#platform:
#  - x86
#  - Any CPU

# build Configuration, i.e. Debug, Release, etc.
configuration: Release

# to add several configurations to build matrix:
#configuration:
#  - Debug
#  - Release

build:
  project: Source/EventMaster.sln      # path to Visual Studio solution or project

artifacts:
  # pushing a single file with environment variable in path and "Deployment name" specified
  - path: Source\EventMaster\bin\$(configuration)
    name: EventMaster
